.main-content{
  height: 100px;
  width: 230px;
  display: inline-block
}
img{
  height: 90px;
  vertical-align: middle;
  margin-bottom: 0.75em;
  text-align:right;
  display: inline-block
}
.move-button{
  height:20px;
}

.detail-panel{
    position: absolute;
    top:  50%;
    left: 30%;
    width: 1400px;
}
li{
  display: inline-block;
  font-size: 10px;
}
.preview-image{
    position:fixed;
    top:0;
    left:30%;
    width:30%;
    height: 500px;
    z-index:100;
    background-repeat: no-repeat;
}